@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0, 0%, 93%;
    --foreground: 0 1% 1%;
 
    --card: 0, 0%, 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0, 0%, 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;

    --font-montserrat: 'Montserrat';
  } 
  .dark {
    --background: 0 1% 1%;
    --foreground: 0, 0%, 93%;
 
    --card: 0, 1%, 6%;
    --card-foreground: 0, 0%, 88%;
 
    --popover: 0, 1%, 11%;
    --popover-foreground: 0, 0%, 78%;
 
    --primary: 0, 1%, 21%;
    --primary-foreground: 0, 0%, 83%;
 
    --secondary: 0, 1%, 31%;
    --secondary-foreground: 0, 0%, 73%;
 
    --muted: 0, 1%, -4%;
    --muted-foreground: 0, 0%, 98%;
 
    --accent: 0, 1%, 6%;
    --accent-foreground: 0, 0%, 88%;
 
    --destructive: 0, 1%, 26%;
    --destructive-foreground: 0, 0%, 78%;
 
    --border: 0, 1%, 6%;
    --input: 0, 0%, 88%;
    --ring: 0, 0%, 98%;

    --font-montserrat: 'Montserrat';
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-montserrat;
  }

  *::-webkit-scrollbar {
    width: 0;
  }
}